<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<!-- creating an appender with a given name of type ConsoleAppender that 
		kind of appender prints all the log messages on the System.out stdout -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="debug" />
		<param name="Target" value="System.out" />
		<!-- Defining the layout which is responsible of formatting the log message 
			in this particular case the message will be followed by a new line -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="[%t][%-50c]  [%p] --- %m%n" />
		</layout>
		<!-- Configure a Filter for the console appender, it is needed to not print 
			on stdout error messages -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="info" />
		</filter>
	</appender>

	<!-- this message will print all the messages of level equal or higher to 
		WARNING to the stderr -->
	<appender name="errorAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="warn" />
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="[%t][%-50c]  [%-5p] --- %m%n" />
		</layout>
	</appender>

	<!-- this appender is a FileAppender, it will write all the log messages 
		to a file, it will not write the debug messages -->
	<appender name="logToFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="mtws.log" />
		<param name="Threshold" value="info" />
		<param name="Append" value="false" />
		<!-- Defining the layout which is responsible of formatting the log message 
			in this particular case the message will be followed by a new line -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="[%t][%c]  [%p] --- %m%n" />
		</layout>
	</appender>

	<!-- here we create a logger of a given name, and add the references to 
		the appenders -->
	<logger name="de" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="errorAppender" />
		<appender-ref ref="logToFile" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
	